.container { 
    background-color: lightpink; 
    width: 500px;  
    max-width: 80%;
    height: 100vw; 
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px;  
    
}  

.btn-grid { 
    display: grid;
    gap: 10px;
    justify-content: center;
    align-items: center;  
    
}  

#timer-container { 
    position: fixed; 
    top: 10px; 
    right: 135px; 
    background-color:red;
    color: mintcream;

} 

#question-text { 
    background-color: seashell;
}
